<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="HYIP, pyramid, test, fraud" />
    {% block description %}
      <meta name="description" content="Check if a site is an investment fraud." />
    {% endblock %}

    {% block title %}<title>AntiHyip</title>{% endblock %}

    <!-- Include Bootstrap to improve the layout and presentation of the HTML page. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
          crossorigin="anonymous">
    <!-- Add additional CSS in static file. -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <section id="background" data-bs-theme="dark">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-4 col-xl-2">
            {% block sidebar %}
              <ul class="nav flex-column mb-auto mt-0">
                <li class="nav-item">
                  <a class="nav-link text-bg-light ah-sidebar-title"
                     href="{% url 'home' %}">AntiHyip</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-bg-light ah-sidebar-bottom-link"
                     href="{% url 'domain-search' %}">Search website in the fraud database.</a>
                </li>
              </ul>

              <ul class="nav flex-column mb-auto mt-1">
                <li class="nav-item">
                  <a class="nav-link text-bg-light ah-sidebar-top-link"
                     href="{% url 'question-list' %}">List of all questions.</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-bg-light ah-sidebar-bottom-link"
                     href="{% url 'badsite-list' %}">Database of bad sites.</a>
                </li>
              </ul>
            {% endblock sidebar %}
          </div>

          <div class="col-md-8">
            {% block content %}{% endblock %}

            {% block pagination %}
              {% if is_paginated %}
                <div class="pagination ah-div">
                  <span class="page-links">
                    {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span class="page-current">
                      <strong>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</strong>
                    </span>
                    {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                  </span>
                </div>
              {% endif %}
            {% endblock pagination %}
          </div>

        </div>
      </div>
    </section>
  </body>
</html>
