{% load i18n %}
<!DOCTYPE html>
<html lang="en-US" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
          content="{% translate "HYIP, pyramid, test, fraud" %}" />
    {% block description %}
      <meta name="description"
            content="{% translate "Check if a site is an investment fraud." %}" />
    {% endblock %}

    {% block title %}<title>AntiHyip</title>{% endblock %}

    <!-- Include Bootstrap to improve the layout and presentation of the HTML page. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
          crossorigin="anonymous">
    <!-- Add additional CSS in static file. -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          {% block sidebar %}

            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link fs-2 fw-bold" href="{% url 'home' %}">AntiHyip</a>
                <form action="{% url 'set_language' %}" method="post" class="nav-link">
                  {% csrf_token %}
                  {% get_current_language as LANGUAGE_CODE %}
                  <button type="submit"
                          class="btn btn-outline-primary fw-bold"
                          name="language"
                          value="en"
                          {% if LANGUAGE_CODE == "en" %}disabled{% endif %}>
                    ENG
                  </button>
                  <button type="submit"
                          class="btn btn-outline-primary fw-bold"
                          name="language"
                          value="ru"
                          {% if LANGUAGE_CODE == "ru" %}disabled{% endif %}>
                    РУС
                  </button>
                </form>
              </li>

              <hr />

              <li class="nav-item">
                {% translate "Search website in the fraud database" as txt_search %}
                <a class="nav-link fw-bold" href="{% url 'search-domain' %}">{{ txt_search }}</a>
              </li>
              <li class="nav-item">
                {% translate "Test" as txt_test %}
                <form method="post" action="{% url 'htest-start' %}" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="nav-link fw-bold">{{ txt_test }}</button>
                </form>
              </li>

              <hr />

              <li class="nav-item">
                {% translate "Previous tests" as txt_prev_tests %}
                <a class="nav-link fw-bold" href="{% url 'htestprogress-list' %}">{{ txt_prev_tests }}</a>
              </li>
              <li class="nav-item">
                {% translate "List of all questions" as txt_all_q %}
                <a class="nav-link fw-bold" href="{% url 'question-list' %}">{{ txt_all_q }}</a>
              </li>
              <li class="nav-item">
                {% translate "Database of bad sites" as txt_badsites %}
                <a class="nav-link fw-bold" href="{% url 'badsite-list' %}">{{ txt_badsites }}</a>
              </li>

              {% if user.is_authenticated %}
                <hr />

                <li class="nav-item">
                  <span class="nav-link text-light">{{ user.get_username }}</span>
                </li>
                <li class="nav-item">
                  <form id="logout-form"
                        method="post"
                        action="{% url 'logout' %}"
                        class="nav-link">
                    {% csrf_token %}
                    {% translate "Log out" as txt_logout %}
                    <button type="submit" class="btn btn-danger">{{ txt_logout }}</button>
                  </form>
                </li>
              {% else %}
                <li class="nav-item">
                  {# Using "?next={{ request.path }}" here causes a bug #}
                  {# when clicking the link from logout view #}
                  <a href="{% url 'login' %}" class="btn btn-success">{% translate "Log in" %}</a>
                </li>
              {% endif %}
            </ul>

          {% endblock sidebar %}
        </div>

        <div class="col-9">
          {% block content %}{% endblock %}

          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination mt-3">
                <span class="page-links">
                  {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
                  {% endif %}
                  <span class="page-current">
                    <strong>
                      {% blocktranslate trimmed %}
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                      {% endblocktranslate %}
                    </strong>
                  </span>
                  {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endblock pagination %}
        </div>

      </div>
    </div>
  </body>
</html>
