{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p class="mt-3 text-warning-emphasis">
        {% translate "Your account doesn't have access to this page" %}
      </p>
    {% else %}
      <p class="mt-3 text-warning-emphasis">
        {% translate "Please log in to see this page" %}
      </p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="mt-3">
    {% csrf_token %}
    <table class="table">
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    {% if form.errors %}
      <p class="mt-3 text-danger">Wrong username or password</p>
    {% endif %}

    <button type="submit">{% translate "Log in" %}</button>

    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {% comment "Implement later" %}
  <p>
    <a href="{% url 'password_reset' %}">Lost password?</a>
  </p>
  {% endcomment %}
{% endblock %}
