{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="mt-2">{% translate "List of bad sites" %}</h1>

  <p class="mt-3">
    {% blocktranslate trimmed %}
      Click on a <em>Name</em> to view the details
    {% endblocktranslate %}
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Type" %}</th>
        <th>{% translate "Domains" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for badsite in badsite_list %}
        <tr>
          <td>
            <a href="{{ badsite.get_absolute_url }}">{{ badsite.name }}</a>
          </td>
          <td>{{ badsite.bad_type }}</td>
          <td>{{ badsite.display_domains }}</td>
        </tr>
      {% empty %}
        <tr>
          <td>
            <strong>{% translate "Empty" %}</strong>
          </td>
          <td>
            <strong>-</strong>
          </td>
          <td>
            <strong>-</strong>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
