{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ badsite.name }}.</h1>

  <p>
    <strong>Bad type:</strong> {{ badsite.bad_type }}
  </p>

  <p>
    <strong>ID:</strong> {{ badsite.id }}
  </p>

  <p>
    <strong>Created:</strong> {{ badsite.created }}
  </p>

  <p>
    <strong>Updated:</strong> {{ badsite.updated }}
  </p>

  <div class="ms-4 mt-4">
    <h4>Domains</h4>
    <hr />

    {% for domain in badsite.domains.all %}
      <p>{{ domain.name }}</p>
    {% empty %}
      <p>
        <strong>None</strong>
      </p>
    {% endfor %}
  </div>
{% endblock %}
