{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="mt-2">
    {% translate "Test: Question" %} {{ current_question_position }}/{{ total_questions }}
  </h1>
  <p class="mt-3">{{ current_question.text }}</p>

  <form method="post" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
            name="submit-previous"
            {% if previous_question is None %}disabled{% endif %}>
      {% translate "Previous" %}
    </button>
    <button type="submit" name="submit-next">
      {% if next_question is None %}
        {% translate "Finish Test" %}
      {% else %}
        {% translate "Next" %}
      {% endif %}
    </button>
  </form>
{% endblock %}
