{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="mt-2">{% translate "Test Progress Details" %}</h1>

  <p class="mt-3">
    <strong>{% translate "User" %}:</strong> {{ htestprogress.user }}
  </p>

  <p class="mt-3">
    <strong>{% translate "Status" %}:</strong>
    {% if htestprogress.question_in_progress %}
      {% translate "Incomplete" %}
    {% else %}
      {% translate "Completed" %}
    {% endif %}
  </p>

  <p class="mt-3">
    <strong>{% translate "Question in progress" %}:</strong>
    {% if htestprogress.question_in_progress %}
      "{{ htestprogress.question_in_progress.text }}"
      (<a href="{{ htestprogress.question_in_progress.get_absolute_url }}">{{ htestprogress.question_in_progress.id }}</a>)
    {% else %}
      <strong>{% translate "None" %}</strong>
    {% endif %}
  </p>

  <p class="mt-3">
    <strong>{% translate "Total Risk Score" %}:</strong> {{ htestprogress.total_risk_score }}
  </p>

  <p class="mt-3">
    <strong>ID:</strong> {{ htestprogress.id }}
  </p>

  <p class="mt-3">
    <strong>{% translate "Created at" %}:</strong> {{ htestprogress.created_at }}
  </p>

  <p class="mt-3">
    <strong>{% translate "Updated at" %}:</strong> {{ htestprogress.updated_at }}
  </p>

  <p class="mt-3">
    <strong>{% translate "Actions" %}:</strong>
    {% if htestprogress.question_in_progress %}
      <a href="{% url 'htest-question' htestprogress.pk %}"
         class="btn btn-success">{% translate "Resume" %}</a>
    {% else %}
      <a href="{% url 'htest-result' htestprogress.pk %}"
         class="btn btn-success">{% translate "View Result" %}</a>
    {% endif %}
    <a href="{% url 'htestprogress-delete' htestprogress.pk %}"
       class="btn btn-danger">{% translate "Delete" %}</a>
  </p>
{% endblock %}
