{% extends "base.html" %}

{% block content %}
  <h1>Previously taken tests</h1>

  <p>
    <strong>User:</strong> {{ user }}
  </p>

  <p>
    Click on an <em>ID</em> to view the details.
  </p>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Total Risk Score</th>
        <th>Started</th>
        <th>Completed / Last Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for htestprogress in htestprogress_list %}
        <tr>
          <td>
            <a href="{{ htestprogress.get_absolute_url }}">{{ htestprogress.id }}</a>
          </td>
          <td>
            {% if htestprogress.question_in_progress %}
              Abandoned
            {% else %}
              Completed
            {% endif %}
          </td>
          <td>
            {% if htestprogress.question_in_progress %}
              N/A
            {% else %}
              {{ htestprogress.get_total_risk_score }}
            {% endif %}
          </td>
          <td>{{ htestprogress.created_at }}</td>
          <td>{{ htestprogress.updated_at }}</td>
          <td>
            {% if htestprogress.question_in_progress %}
              <a href="{% url 'htest-question' htestprogress.id %}"
                 class="btn btn-success">Resume</a>
            {% else %}
              <a href="{% url 'htest-result' htestprogress.id %}"
                 class="btn btn-success">Result</a>
            {% endif %}
            <a href="{% url 'htestprogress-delete' htestprogress.id %}"
               class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td>
            <strong>None found</strong>
          </td>
          <td>
            <strong>-</strong>
          </td>
          <td>
            <strong>-</strong>
          </td>
          <td>
            <strong>-</strong>
          </td>
          <td>
            <strong>-</strong>
          </td>
          <td>
            <strong>-</strong>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
