{% extends "base.html" %}

{% block content %}
  <h1>Test: Question {{ current_question_position }}/{{ total_questions }}</h1>
  <p>{{ current_question.text }}</p>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"
            name="submit-previous"
            {% if previous_question is None %}disabled{% endif %}>Previous</button>
    <button type="submit" name="submit-next">
      {% if next_question is None %}
        Finish Test
      {% else %}
        Next
      {% endif %}
    </button>
  </form>
{% endblock %}
