{% extends "base_generic.html" %}

{% block content %}
  <h1>Question Details.</h1>

  <p>
    <strong>Text:</strong> {{ question.text }}
  </p>

  <p>
    <strong>Description:</strong>
    {% if question.description %}
      {{ question.description }}
    {% else %}
      <strong>None</strong>
    {% endif %}
  </p>

  <p>
    <strong>ID:</strong> {{ question.id }}
  </p>

  <p>
    <strong>Created:</strong> {{ question.created }}
  </p>

  <p>
    <strong>Updated:</strong> {{ question.updated }}
  </p>
{% endblock %}
