{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="mt-2">{% translate "Search website in the fraud database" %}</h1>

  <form class="mt-3">
    {{ form.as_div }}
    {% comment "Disable form classes for now" %}
      <button type="submit" class="btn btn-primary">Search</button>
    {% endcomment %}
    <button type="submit">{% translate "Search" %}</button>
  </form>

  {% if executed_query %}
    <hr />
    <p class="mt-3">
      <strong>{% translate "Your search" %}:</strong> {{ executed_query }}
    </p>

    {% if found_badsite %}
      <table class="table">
        <thead>
          <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Type" %}</th>
            <th>{% translate "Domains" %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="{{ found_badsite.get_absolute_url }}">{{ found_badsite.name }}</a>
            </td>
            <td>{{ found_badsite.bad_type }}</td>
            <td>{{ found_badsite.display_domains }}</td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <p class="mt-3">
        {% translate "No websites with this domain found in the fraud database" %}
      </p>
    {% endif %}
  {% endif %}
{% endblock %}
